.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.71em 2.33em;
  gap: 0.25em;
  min-width: 8.93em;
  max-width: 11.93em;
  height: 9em;
  background-color: #fff;
  border-radius: 0.5em;
  transition: height 0.3s;
}

.card:hover {
  height: 13.64em;
  margin: 0em;
}

.card-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.36rem;
  padding-top: 2.29em;
  padding-bottom: 9.16em;
}

.card-profile-image {
  width: 5.14em;
  height: 5.14em;
  border-radius: 100000em;
}

/** PAGER **/

.pager-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  padding-top: 1.71em;
  padding-top: 3.25em
}

.pager-number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.29em;
  width: 2.88em;
  height: 2.29em;
  background: #fff;
  border-radius: 4px;
}

.pager-number-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.71em;
}

.pager-number-active {
  background: #4834D4;
  color: #fff;
}

/** JUMPER **/
.form-jumper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.jumper-input {
  width: 9.2857142857em;
  height: 2.29em;
  border: 1px solid #000;
  border-radius: 0.5em;
  text-align: center;
}

.card:hover .score-visit-links {
  opacity: 1;
  margin: 0em;
  visibility: visible;
  height: auto;
}

.score-visit-links {
  opacity: 0;
  margin: 0em;
  height: 0em;
  overflow: hidden;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, height 0.3s;
}

.profile-link {
  display: block;
  margin-top: 0.5em;
}

.response-card {
  display: flex;
  align-items: center;
  width: 32em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5714285714em;
  margin-top: 1em;
  padding: 1em;
  box-sizing: border-box;
}

.response-card p {
  width: 95%;
}

.error {
  background-color: #fff2f2;
  border: 0.1071428571em solid #FF7979;
}

.warning {
  background-color: #fef4ea;
  border: 0.1071428571em solid #F0932B;
}

.page-numbers {
  display: flex;
  gap: 1em;
  align-items: center;
}

.mobile-page-indicator{
  display: none;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1351px) and (min-width: 768px) {
  .card-group {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 769px) and (min-width: 600px) {
  .card-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .input-text-search-long{
    width: auto;
  }
}

@media only screen and (max-width: 480px)  {
  .mobile-page-indicator{
    display: block;
  }
}

@media only screen and (max-width: 600px) and (min-width: 312px){
  .card-group {
    grid-template-columns: repeat(1, 1fr);
    padding-right: 2em
  }

  .input-text-search-long {
    width: 100%;
  }

  .page-numbers {
    display: none;
  }

  .navbar-icon {
    width: 3em;
  }

  .results-page{
    overflow: hidden;
  }

  .results-container {
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
  }

  .navbar-container {
    margin-right: 2em;
  }

  .buttonText {
    display: none;
  }

  .card {
    max-width: 100%;
  }

  .response-card p{
    width: 100%;
  }

  .response-card{
    width: 18em;
    margin-left: auto;
    margin-right: auto;
  }

  .logo-large{
    width: 18em;
  }

  form{
    width: 20em;
  }

  .input-wrapper{
    width: 100%
  }
}

@media only screen and (max-width: 320px){
  form{
    width: 16em
  }

  .logo-large{
    width: 11em;
  }
}