.attribution, .attribution:visited, .attribution a{
    font-size: 0.8571428571rem;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.error {
    color: #D20B0B;
}

.userName {
    width: 100%;
    overflow: hidden;
    text-align: center;
}